<a href="https://colab.research.google.com/github/pacomm5/COVID-19/blob/master/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SERIES

##CREAR UNA SERIE DE PANDAS A PARTIR DE UN INDICE NORMAL DE LISTA Y UN INDICE PERSONALIZADO

In [2]:
import pandas as pd

In [3]:
# Create a pandas data series from a list:

L1 = ['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian']
L1


#['Honda', 'Toyota', 'Ford', 'Tesla', 'Lucid', 'Rivian']

pseries_1 = pd.Series(data = L1)
pseries_1




#create a pandas data series with index
car_index = ['car1','car2','car3','ev1','ev2','ev3']

pseries_2 = pd.Series(data = L1,index = car_index)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
ev1      Tesla
ev2      Lucid
ev3     Rivian
dtype: object

In [4]:
#create a pandas data series with index
car_index = ['car1','car2','car3','ev1','ev2','ev3']

pseries_2 = pd.Series(data = L1,index = car_index)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
ev1      Tesla
ev2      Lucid
ev3     Rivian
dtype: object

##Crea una serie de Pandas a partir de un diccionario de pit√≥n

In [8]:
#Create a pandas series from a python dictionary.
pdict_1 = {
    'car1': 'Honda',
    'car2': 'Toyota',
    'car3': 'Ford',
    'car4': 'GM',
    'car5': 'BMW',
    'car6': 'Nissan'}
    

  
pseries_2 = pd.Series(pdict_1)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object

## CREAR UNA SERIE DE PANDAS A PARTIR DE UNA AMTRIZ NUMPY

In [9]:
#Create a pandas series from a Numpy array
import numpy as np
array_01 = np.random.randn(5)
array_01

array([-0.92119945,  0.84390479,  0.12608938,  1.30174335,  0.3212127 ])

In [10]:
pseries_3 = pd.Series(array_01)
pseries_3

0   -0.921199
1    0.843905
2    0.126089
3    1.301743
4    0.321213
dtype: float64

## CREAR UNA SERIE DE PANDAS A PARTIR DE UN VALOR ESCALAR.

In [11]:
#If data is a scalar value, an index must be provided. 
#The value will be repeated to match the length of index.
pseries_4 = pd.Series(8.0, index=["a", "b", "c", "d", "e"])
pseries_4

a    8.0
b    8.0
c    8.0
d    8.0
e    8.0
dtype: float64

## series, attributes-sort, index, sort values, describe, shape

In [12]:
pseries_2.shape

(6,)

In [13]:
pseries_2.describe

<bound method NDFrame.describe of car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object>

In [14]:
pseries_2.index

Index(['car1', 'car2', 'car3', 'car4', 'car5', 'car6'], dtype='object')

In [15]:
pseries_2.values

array(['Honda', 'Toyota', 'Ford', 'GM', 'BMW', 'Nissan'], dtype=object)

In [16]:
pseries_2.sort_index

<bound method Series.sort_index of car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object>

In [17]:
pseries_2.sort_values(inplace=True)
pseries_2

car5       BMW
car3      Ford
car4        GM
car1     Honda
car6    Nissan
car2    Toyota
dtype: object