<a href="https://colab.research.google.com/github/pacomm5/COVID-19/blob/master/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SERIES

##CREAR UNA SERIE DE PANDAS A PARTIR DE UN INDICE NORMAL DE LISTA Y UN INDICE PERSONALIZADO

In [4]:
import pandas as pd

In [5]:
# Create a pandas data series from a list:

L1 = ['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian']
L1


#['Honda', 'Toyota', 'Ford', 'Tesla', 'Lucid', 'Rivian']

pseries_1 = pd.Series(data = L1)
pseries_1




#create a pandas data series with index
car_index = ['car1','car2','car3','ev1','ev2','ev3']

pseries_2 = pd.Series(data = L1,index = car_index)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
ev1      Tesla
ev2      Lucid
ev3     Rivian
dtype: object

In [6]:
#create a pandas data series with index
car_index = ['car1','car2','car3','ev1','ev2','ev3']

pseries_2 = pd.Series(data = L1,index = car_index)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
ev1      Tesla
ev2      Lucid
ev3     Rivian
dtype: object

##Crea una serie de Pandas a partir de un diccionario de pitón

In [7]:
#Create a pandas series from a python dictionary.
pdict_1 = {
    'car1': 'Honda',
    'car2': 'Toyota',
    'car3': 'Ford',
    'car4': 'GM',
    'car5': 'BMW',
    'car6': 'Nissan'}
    

  
pseries_2 = pd.Series(pdict_1)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object

## CREAR UNA SERIE DE PANDAS A PARTIR DE UNA AMTRIZ NUMPY

In [8]:
#Create a pandas series from a Numpy array
import numpy as np
array_01 = np.random.randn(5)
array_01

array([-0.45152783,  2.60788802,  0.04770416,  0.81680972,  0.54131705])

In [9]:
pseries_3 = pd.Series(array_01)
pseries_3

0   -0.451528
1    2.607888
2    0.047704
3    0.816810
4    0.541317
dtype: float64

## CREAR UNA SERIE DE PANDAS A PARTIR DE UN VALOR ESCALAR.

In [10]:
#If data is a scalar value, an index must be provided. 
#The value will be repeated to match the length of index.
pseries_4 = pd.Series(8.0, index=["a", "b", "c", "d", "e"])
pseries_4

a    8.0
b    8.0
c    8.0
d    8.0
e    8.0
dtype: float64

## series, attributes-sort, index, sort values, describe, shape

In [11]:
pseries_2.shape

(6,)

In [12]:
pseries_2.describe

<bound method NDFrame.describe of car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object>

In [13]:
pseries_2.index

Index(['car1', 'car2', 'car3', 'car4', 'car5', 'car6'], dtype='object')

In [14]:
pseries_2.values

array(['Honda', 'Toyota', 'Ford', 'GM', 'BMW', 'Nissan'], dtype=object)

In [15]:
pseries_2.sort_index

<bound method Series.sort_index of car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object>

In [16]:
pseries_2.sort_values(inplace=True)
pseries_2

car5       BMW
car3      Ford
car4        GM
car1     Honda
car6    Nissan
car2    Toyota
dtype: object

## renombrar series y atributos únicos

In [17]:
import pandas as pd

In [18]:
#Series can also have a name attribute:
pseries_5 = pd.Series(pdict_1, name='cars')
pseries_5.name

'cars'

In [19]:
#You can rename a Series with the pandas.Series.rename() method.
pseries_6 = pseries_5.rename("different_cars")
pseries_6.name

'different_cars'

In [20]:
# Check if all elements are unique 
pseries_6.is_unique

True

## comprobar algunos metodos de series, head, tail, isnull ...

In [21]:
#Here are few methods. There are around 50-60 mothods. Check the documentation
pseries_4.describe()

count    5.0
mean     8.0
std      0.0
min      8.0
25%      8.0
50%      8.0
75%      8.0
max      8.0
dtype: float64

In [22]:
pseries_4.head(2)

a    8.0
b    8.0
dtype: float64

In [23]:
pseries_4.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [24]:
pseries_4.sum()

40.0

In [25]:
pseries_4.product()

32768.0

## encontrar valores nulos

In [26]:
ps6 = pd.Series([10,np.nan,20,30,np.nan])
ps6.isna()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [27]:
ps6.isna().sum()

2

## uso de funciones integradas en series

In [28]:
# Python buildin functions:
ps7 = pd.Series(np.random.randn(10))
ps7

0    0.850809
1   -1.394997
2   -1.154214
3    2.608141
4    0.343212
5   -0.485921
6   -1.150069
7    0.392338
8    0.387833
9    0.174685
dtype: float64

In [29]:
len(ps7)

10

In [30]:
max(ps7)

2.6081406997438616

In [31]:
min(ps7)

-1.3949965682874732

In [32]:
type(ps7)

pandas.core.series.Series

## convertir una serie a lista, diccionario y matriz de numpy

In [33]:
L1 = ['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian']
ps_8 = pd.Series(data = L1)
#convert a series to a list
list(ps_8)
# con esto lo convertimos a lista.

['Honda', 'Toyota', 'Ford', 'Tesla', 'Lucid', 'Rivian']

In [34]:
#convert a series to dictionary
dict(ps_8)
# con esto lo convertimos a diccionario

{0: 'Honda', 1: 'Toyota', 2: 'Ford', 3: 'Tesla', 4: 'Lucid', 5: 'Rivian'}

In [35]:
#convert a series to a narray
na1 = ps_8.values
na1
# asi lo estamos convirtiendo a un array.

array(['Honda', 'Toyota', 'Ford', 'Tesla', 'Lucid', 'Rivian'],
      dtype=object)

In [36]:
type(na1)

numpy.ndarray

## selección filtro de series.

In [37]:
#Selecting data from a pandas series
L1 = ['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian']
ps_8 = pd.Series(data = L1)
ps_8[2]
# aqui lo que hacemos en convertirlo a una serie y posteriormente decimos
# que esta es igual al campo 2 que es Ford

'Ford'

In [38]:
ps_8[0:2]
# aqui le decimos que nos desde el 0 al 2

0     Honda
1    Toyota
dtype: object

In [39]:
ps_8[-1:]
# aqui le decimos que nos de el último

5    Rivian
dtype: object

## series la más grande y la más pequeña. el mayor y el menor

In [40]:
countries_population = {"Italy": 59000000, "France": 65000000,
                        "Malta": 434000, "Maldives": 434000,
                        "Brunei": 434000, "Iceland": 337000,
                        "Nauru": 11300, "Tuvalu": 11300,
                        "Anguilla": 11300, "Montserrat": 5200}
ps_9 = pd.Series(countries_population)

#The n largest elements where n=5 by default.
ps_9.nlargest()
# lo primero que hacemos en convertirlo a series y posteriormente
# le pedimos que nos de las mayores

France      65000000
Italy       59000000
Malta         434000
Maldives      434000
Brunei        434000
dtype: int64

In [41]:
ps_9.nsmallest() # aqui que nos de las menores.

Montserrat      5200
Nauru          11300
Tuvalu         11300
Anguilla       11300
Iceland       337000
dtype: int64

# DATAFRAME

un dataframe es un conjunto de series.

## crear un dataframe a partir de un diccionario

In [42]:
cars_df = pd.DataFrame({'Cars':['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian'], 
                        'Type':['IC', 'IC', 'IC', 'EV', 'EV', 'EV']})
cars_df

# aqui creamos un dataframe a partir de un diccionario

     Cars Type
0   Honda   IC
1  Toyota   IC
2    Ford   IC
3   Tesla   EV
4   Lucid   EV
5  Rivian   EV

## crear un dattaframe a partir de un array de numpy

In [43]:
#create a dataframe from a numpy array
narray_df = pd.DataFrame(np.random.normal(size=(4,5)))
narray_df

          0         1         2         3         4
0 -0.181697 -0.077436 -1.131699  0.440240 -0.450203
1 -2.244374  1.175509 -1.867085  0.994603 -0.395300
2  1.362957  1.697703 -0.881242  0.068173 -0.281188
3 -0.910329 -0.769775 -0.648142 -0.133076  0.829075

## crear un data frame a partir de una serie

In [47]:
s1 = pd.Series([1,2], index=['a','b'])
series_df = pd.DataFrame([s1])
series_df

   a  b
0  1  2

In [49]:
list_of_series = [pd.Series([1,2],index=['a','b']), pd.Series([3,4],index=['a','c'])]
series2_df = pd.concat(list_of_series, axis=1).transpose()
series2_df

     a    b    c
0  1.0  2.0  NaN
1  3.0  NaN  4.0

## tipos de archivos que se pueden leer con pandas.

In [ ]:
json_df = pd.read_json("test.json", dtype={"A": "float32", "bools": "int8"}).dtypes

In [52]:
#Read from a url
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list"
dfs = pd.read_html(url)

In [ ]:
#Read from a xml file
df = pd.read_xml(xml)

In [ ]:

#Reading from a excel file
xlsx = pd.ExcelFile("path_to_file.xls")
df = pd.read_excel(xlsx, "Sheet1")

## leer datos de una base de datos SQL, tanto en la tabla como en la consulta.

In [ ]:
pd.read_sql_table("datos", motor)
pd.read_sql_query("SELECT * FROM data", motor)
pd.read_sql_query("SELECT id, Col_1, Col_2 FROM data WHERE id = 42;", engine)

## leer varios archivos y crear un unico dataframe

In [ ]:
import glob

import os

files = glob.glob("file_*.csv")

result = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)
# lo que hacemos aqui es leer todos los archivos que empiecen por el nombre
# que estimemos y luego lo que hacemos es concatenarlos todos.

## leer un archivo trozo por trozo

In [ ]:

tp = pd.read_csv('large_dataset.csv', iterator=True, chunksize=1000)  # gives TextFileReader, which is 3iterable with chunks of 1000 rows.
df = pd.concat(tp, ignore_index=True)

## mandar un datagrame a un archivo csv

In [ ]:
# write to a csv file with an index
housing_df.to_csv("/content/sample_data/california_housing_test1.csv", index = True)
#default is True
# write to a csv file without an index
housing_df.to_csv("/content/sample_data/california_housing_test2.csv", index = False)

## comando para obtener información del dataframe

In [ ]:
housing_df.info()

housing_df.describe()

housing_df.shape

housing_df.tail(5)

housing_df.head(5)

## crear un indice, reestablecer el indice al indice original.

In [ ]:
df.set_index("la columna que yo determine", inplace =True ) 
df.reset_index(inplace=True)
# ahora lo que vamos a hacer es establecer el indice al leer el archivo
housing_df = pd.read_csv("el archivo que sea", index_col = "Ciudad")
# por defecto es false, es decir cuando sea false, tenemos que asignarle
# una variable

## selección de una o varias columnas del dataframe

In [ ]:
#The titanic dataset is available in Kaggle
titanic_df = pd.read_csv("/content/sample_data/train.csv")

gender_df = titanic_df['Sex']

type(gender_df)
pandas.core.series.Series

#Select multiple columns
name_df = titanic_df[['Name','Sex']]
type(name_df)

pandas.core.frame.DataFrame

## operaciones con columna. añadir e insertar una columna.

In [1]:
import pandas as pd
# Add a column
cars_df = pd.DataFrame({'Cars':['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian'], 
                        'Type':['IC', 'IC', 'IC', 'EV', 'EV', 'EV']})

In [2]:
cars_df['Price'] = [30000, 35000,25000,50000,120000,90000]
cars_df

     Cars Type   Price
0   Honda   IC   30000
1  Toyota   IC   35000
2    Ford   IC   25000
3   Tesla   EV   50000
4   Lucid   EV  120000
5  Rivian   EV   90000

In [3]:
#Insert a column based on the index.Here index 1
cars_df = pd.DataFrame({'Cars':['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian'], 
                        'Type':['IC', 'IC', 'IC', 'EV', 'EV', 'EV']})

In [4]:
cars_df.insert(1,column = 'Price', value = [30000, 35000,25000,50000,120000,90000] )
cars_df

     Cars   Price Type
0   Honda   30000   IC
1  Toyota   35000   IC
2    Ford   25000   IC
3   Tesla   50000   EV
4   Lucid  120000   EV
5  Rivian   90000   EV

## como eliminar una columna del dataframe

In [ ]:
cars_df = pd.DataFrame({'Cars':['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian'], 
                        'Type':['IC', 'IC', 'IC', 'EV', 'EV', 'EV'],
                        'Price':[30000, 35000,25000,50000,120000,90000]})
#Delete a column
del cars_df['Price']
cars_df

#Delete a column using drop
cars_df.drop(labels = ["Type"], axis = 1, inplace = True)
cars_df
  
#delete a column using pop and store that column in a another variable.
prices_df = cars_df.pop('Price')
prices_df

In [5]:
cars_df = pd.DataFrame({'Cars':['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian'], 
                        'Type':['IC', 'IC', 'IC', 'EV', 'EV', 'EV'],
                        'Price':[30000, 35000,25000,50000,120000,90000]})

In [6]:
#Delete a column
del cars_df['Price']
cars_df

     Cars Type
0   Honda   IC
1  Toyota   IC
2    Ford   IC
3   Tesla   EV
4   Lucid   EV
5  Rivian   EV

In [8]:
cars_df = pd.DataFrame({'Cars':['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian'], 
                        'Type':['IC', 'IC', 'IC', 'EV', 'EV', 'EV'],
                        'Price':[30000, 35000,25000,50000,120000,90000]})

In [9]:
#delete a column using pop and store that column in a another variable.
prices_df = cars_df.pop('Price')
prices_df

0     30000
1     35000
2     25000
3     50000
4    120000
5     90000
Name: Price, dtype: int64

## como filtrar la columna y las filas del dataframe usando loc.

In [ ]:
#Set the index based on the passenger class
titanic_df = pd.read_csv("/content/sample_data/train.csv", index_col='Pclass')
titanic_df
#select the passengers travel in class 1
titanic_df.loc[1,'Name']

Pclass
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
1         Futrelle, Mrs. Jacques Heath (Lily May Peel)
1                              McCarthy, Mr. Timothy J
1                             Bonnell, Miss. Elizabeth
1                         Sloper, Mr. William Thompson
                           ...                        
1     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
1                             Carlsson, Mr. Frans Olof
1       Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
1                         Graham, Miss. Margaret Edith
1                                Behr, Mr. Karl Howell
Name: Name, Length: 216, dtype: object

## como filtrar la columna y las filas del dataframe usando iloc

In [ ]:
import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
titanic_df

#use iloc to filter the dataframe
titanic_df.loc[1:5]

titanic_df.iloc[[10, 24, 90]]

titanic_df.iloc[:9]

titanic_df.iloc[90, 0:5]

PassengerId                      91
Survived                          0
Pclass                            3
Name           Christmann, Mr. Emil
Sex                            male
Name: 90, dtype: object

## como cambiar los valores de las columnas del dataframe

In [ ]:
# por ejemplo tomemos el conjunto de datos de titanic. queremos crear una 
# nueva columna llamada nueva tarifa y añadir 10 euros a la tarifa existente
titanic_df[@New Fare] = titanic_df["Fare"].add(10)
# asi de esta manera lo haríamos

In [ ]:
# si tenemos la edad equivocada de la persona y quieres corregrila con la 
# edad adecuada. podemos usar iloc y lueego darle indice
titanic_df.iloc[4,5] = 99

## como ordenar un dataframe

In [ ]:
import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
#Use the Titanic dataset from kaggle-sort by values-sort the column Age
titanic_df.sort_values(by = 'Age', inplace = True) 
titanic_df

#Sort by index
titanic_df.sort_index(inplace = True)

## como aplicar una función a un dataframe. por ejemplo queremos calcular el impuesto sobre la tarifa.

In [ ]:
#Calculate the tax of about 20% of the fare.Create a new column called Tax
def tax_cal(fare):
  return fare * 0.2

titanic_df['Tax'] = titanic_df['Fare'].apply(tax_cal)
titanic_df

#output

	PassengerId	Survived	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked	Tax
Pclass												
1	749	0	Marvin, Mr. Daniel Warner	male	19.0	1	0	113773	53.1000	D30	S	10.62000
1	271	0	Cairns, Mr. Alexander	male	NaN	0	0	113798	31.0000	NaN	S	6.20000
1	600	1	Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")	male	49.0	1	0	PC 17485	56.9292	A20	C	11.3858

## como eliminars las filas duplicadas en el dataframe

In [ ]:
DataFrame.drop_duplicates(subset=None, keep="first", implace=False,
                          ignore_index=False)
# first significa que quite todas menos la primera coincidencia
# last significaría que quitara todas menos la última

## como haceer el filtrado del dataframe.

In [ ]:
#Select all the passenger records who are 70 and above.
import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
age50_df = titanic_df[ (titanic_df['Age'] >= 70.0) ]
age50_df

#Output
1 to 7 of 7 entries
Filter

index	PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
96	97	0	1	Goldschmidt, Mr. George B	male	71.0	0	0	PC 17754	34.6542	A5	C
116	117	0	3	Connors, Mr. Patrick	male	70.5	0	0	370369	7.75	NaN	Q
493	494	0	1	Artagaveytia, Mr. Ramon	male	71.0	0	0	PC 17609	49.5042	NaN	C
630	631	1	1	Barkworth, Mr. Algernon Henry Wilson	male	80.0	0	0	27042	30.0	A23	S
672	673	0	2	Mitchell, Mr. Henry Michael	male	70.0	0	0	C.A. 24580	10.5	NaN	S
745	746	0	1	Crosby, Capt. Edward Gifford	male	70.0	1	1	WE/P 5735	71.0	B22	S
851	852	0	3	Svensson, Mr. Johan	male	74.0	0	0	347060	7.775	NaN	S

In [ ]:
#Using multiple logical operators
#Use & for 'And'
#Use | for 'Or'
import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
age50_class1_df = titanic_df[(titanic_df.Age >= 50) & (titanic_df.Pclass == 1)]
age50_class1_df

In [ ]:
#Use isin method
import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
Last_Name = ['McCarthy, Mr. Timothy J','Fortune, Mr. Mark','Douglas']
titanic_df[titanic_df.Name.isin(Last_Name)]

In [ ]:
titanic_df[~titanic_df.Name.str.startswith(‘H’)]
# así por ejemplo estariamos diciendo que queremos todos los nombres
# que empiecen por h.

In [ ]:
import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
w_filter = titanic_df['Age'] >= 70.0
titanic_df.where(w_filter, inplace=True)
titanic_df
# esto también es filtrado pero con la clausula where.

## quitar los valores nulos.

In [ ]:
# en este caso utilizaos any or all

import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
titanic_df.dropna(how = 'any', inplace = True)
titanic_df.shape

import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
titanic_df.dropna(how = 'all', inplace = True)
titanic_df.shape

In [ ]:
# también lo podemos hacer para columnas específicas
import pandas as pd
titanic_df = pd.read_csv(“/content/sample_data/train.csv”)
titanic_df.dropna(how = ‘any’, inplace = True, subset = [‘Age’, ‘Fare’])
titanic_df.shape

## rellenar los valores nulos con un valor

In [ ]:
#Now all the age null values are replaced by the mean
import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
titanic_df["Age"].fillna(titanic_df["Age"].mean(), inplace = True)
titanic_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# con esto lo que hacemos es analizar unos datos de manera aleatoria. 

import pandas as pd
df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8]},
                  index=['falcon', 'dog', 'spider', 'fish'])
df.sample(frac=0.5, replace=True, random_state=1)

Output:
	num_legs	num_wings	num_specimen_seen
dog		4		0			2
fish	0		0

## renombrar columnas de un dataframe

In [30]:
#Change the column name
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

In [31]:
df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6

In [32]:
#Rename the index

df.rename(index={0: "x", 1: "y", 2: "z"})

   A  B
x  1  4
y  2  5
z  3  6

## convertir cambiar tipo de datos

In [ ]:
#Convert a data type using astype method
import pandas as pd
titanic_df = pd.read_csv("/content/sample_data/train.csv")
titanic_df.info()

# 6   SibSp        891 non-null    int64 

titanic_df["SibSp"] = titanic_df["SibSp"].astype("float64")
titanic_df.info()

#6   SibSp        891 non-null    float64

## remplazar un valor por otro valor en el dataframe.

In [ ]:
#Use the replace() method.
df['column name'] = df['column name'].replace(['old value'],'new value')
#To replace the value for the whole dataframe
df = df.replace(['old value'],'new value')

In [ ]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})

df.replace(0, 5)

#output
	A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

df.replace([0, 1, 2, 3], 4)
    
   A  B  C
0  4  5  a
1  4  6  b
2  4  7  c
3  4  8  d
4  4  9  e

In [35]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})

In [36]:
df

   A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [37]:
df.replace(0, 5) # como vemos esta remplazando los 0 por 5

   A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

## multiples condiciones en un filtro a uso de variables.

In [ ]:
#Long filter and confusing
titanic_df[(titanic_df.Age >= 50) & (titanic_df.Pclass == 1) & (titanic_df.Sex == ‘male’) & (titanic_df.Survived == 1)]
#Split the filter into smaller parts and assign it to variable
v_age = titanic_df.Age >= 50
v_class = titanic_df.Pclass == 1
v_sex = titanic_df.Sex == ‘male’
v_survived = titanic_df.Survived == 1
titanic_df.loc[v_age & v_class & v_sex & v_survived]
#Use & for And
#Use | for Or